@font-face {
    font-family: youngSerif;
    
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: outfit;
    src: url(/Recipe_page/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

body {
	background: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-frame {
	background: white;
	width: 50%;
    padding: 50px;
    margin-top: 10rem;
    align-content: center;
    border-radius: 32px;
    font-family: outfit;
    font-weight: 400, 600, 700;;
    color: hsl(30, 10%, 34%);
}

img{
	border-radius: 8px;
    max-width: 100%;
    height: auto;
}

.heading{
    font-family: youngSerif;
    font-weight: 400;
    margin-top: 3%;
}

.mheading{
    font-family: youngSerif;
    font-weight: 400;
    color:hsl(24, 5%, 18%);
}

h2{
    color: hsl(14, 45%, 36%);
}

.purpleText{
    color: hsl(332, 51%, 32%);
}

.prep-time{
    border-radius: 8px;
    padding: 10px 20px 10px;
    background: hsl(330, 100%, 98%);
}

.bullets li {
    margin-bottom: 3%;
    padding-left: 10px;
    line-height: 1.5;
}

table {
    width: 100%; 
    border-collapse: separate;
    border-spacing: 10px;
    
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}


.value{
    color: hsl(14, 45%, 36%);
}
